{
  "input_files": [
    {
      "file_name": "multi_file_part_1.csv",
      "fields_names": ["Facility","Address","Zip","Phone Number"]
    },
    {
      "file_name": "multi_file_part_2.csv",
      "fields_names": ["Site name","Address","Zip Code","Phone"]
    },
    {
      "file_name": "multi_file_part_3.csv",
      "fields_names": ["Site name","Address","Zip","Phone"]
    }
  ],
  "field_names": ["Site name","Address","Zip","Phone"],
  "field_definition" : {"Site name" : {"type" : "String"},
                        "Address"   : {"type" : "String"},
                        "Zip"       : {"type" : "String",
				       "Has Missing" : true},
			"Phone"     : {"type" : "String", 
				       "Has Missing" : true}},
  "output_file": "output.csv",
  "skip_training": false,
  "training_file": "training.json",
  "sample_size": 150000,
  "recall_weight": 2
}
