{
  "field_names": ["Site name","Address","Zip","Phone"],
  "field_definitions" : {"Site name" : {"type" : "String"},
                        "Address"   : {"type" : "String"},
                        "Zip"       : {"type" : "String",
				       "Has Missing" : true},
			"Phone"     : {"type" : "String", 
				       "Has Missing" : true}},
  "output_file": "output.csv",
  "skip_training": false,
  "training_file": "training.json",
  "sample_size": 150000,
  "recall_weight": 2
}
